{ "servers": [
    {
        "name": "peapod",
        "server": "access.peapod.com",
        "credentials": {
            "type": "basic",
            "values": [
                {
                    "username": "USERNAME_VPN",
                    "password": "PASSWORD_VPN"
                },
                {
                    "username": "USERNAME_LDAP",
                    "password": "PASSWORD_LDAP"
                }
            ]
        }
    },
    {
        "name": "rbs",
        "server": "tls.aholdusa.com",
        "credentials": {
            "type": "stoken",
            "values": [
                {
                    "username": "USERNAME"
                }
            ]
        }
    }
] }
